* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-family: "Epilogue", sans-serif;
  --bg-primary: hsl(0, 0%, 98%);
  --tt-primary: hsl(0, 0%, 41%);
  --tt-primary-hover: hsl(0, 0%, 12%);
  --tt-secondary: hsl(0, 0%, 8%);
  --tt-btn-more: white;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  max-width: 1440px;

  background-color: var(--bg-primary);
}

body * {
  font-family: var(--ff-family);
}

.hide {
  opacity: 0;
  cursor: default;
}

.navbar {
  display: flex;
  height: 3rem;
  align-items: center;
  gap: 8rem;
  padding: 3rem;
  justify-content: space-between;
}

.navbar ul li:focus-within ul {
  display: block;
}

.nav-display {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2.8rem;
  height: 3px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: var(--tt-secondary);
  transition: all 0.3s ease-in-out;
}

.logo {
  margin-top: 0.6rem;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  position: relative;
}

.nav-link {
  color: var(--tt-primary);
  transition: color 0.4s;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link:hover {
  color: var(--tt-primary-hover);
}

.dropdown {
  display: none;
  position: absolute;
  background-color: var(--bg-primary);
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--tt-secondary);
}

.dropdown li {
  margin: 1rem;
}

.dropdown img {
  margin-right: 1rem;
}

.log {
  display: flex;
  gap: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

#register {
  border: solid 1px var(--tt-primary);
  border-radius: 99px;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main1 {
  padding: 8rem 8rem 0 8rem;
  display: flex;
}

.img-hero {
  width: 50rem;
  height: 70rem;
  margin-left: 10rem;
}

.main1-text {
  display: block;
  padding-right: 2rem;
}

.main1-text h1 {
  font-size: 8rem;
  margin: 10rem 0 4rem;
  color: var(--tt-secondary);
}

.main1-text p {
  color: var(--tt-primary);
  margin-bottom: 4rem;
}

.btn-more {
  border: solid 1px var(--tt-secondary);
  background: var(--tt-secondary);
  border-radius: 99px;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--tt-btn-more);
  transition: filter 0.3s;
}

.btn-more:hover {
  filter: invert(1);
}

.main2 {
  display: flex;
  gap: 2rem;
  margin: 0 0 8rem 8rem;
  height: 2.5rem;
  max-width: 2rem;
}

footer {
  padding: 1rem;
}

@media (max-width: 768px) {
  .main1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .main1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }

  .img-hero {
    width: 60rem;
    padding-right: 5rem;
  }

  .main2 {
    display: flex;
    gap: 6rem;
  }

  /* Animation */
  .nav-display,
  .nav-link {
    display: block;
  }
  .nav-display.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-display.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav-display.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    border-radius: 0 0 20px 20px;
    background-color: wheat;
    text-align: center;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
